@import "./header.css";
@import "./nav.css";
@import "./footer.css";

/* Setup grid layout for page */
.container {
  font-family: 'Open Sans Condensed', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 50px 1000px 50px;
  grid-template-areas:
  "hd hd hd hd hd hd hd"
  "nb nb nb nb nb nb nb"
  "main main main main main main main"
  "ft ft ft ft ft ft ft";
}

/* About Me */
.about {
  grid-area: main;
  padding: 15px;
}

/* Style heading for About Me */
.about-h2 {
  font-size: 42px;
  font-weight: 200;
}

/* Style text for About Me */
.about-text {
  font-size: 24px;
}

/* Setup nested grid for About Me pictures */
.nestedGrid-About {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: 200px;
  grid-gap: 30px;
  justify-content: center;
}

/* Style About Me div that contains images */
.about-img-div {
  display: inline-block;
  position: relative;
}

/* Style About Me images */
.about-img {
  width: 100%;
}

/* Style updates with a max screen size of 1000px */
@media (max-width:1000px) {
  .container {
    grid-template-columns: 300px 300px;
    grid-template-rows: 400px 50px 1fr 50px;
  }

  .nestedGrid-About {
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 1fr 1fr;
  }

}
