@import "./header.css";
@import "./nav.css";
@import "./footer.css";

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* Setup grid layout for page */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 50px 1fr 50px;
  grid-template-areas:
  "hd hd hd hd hd hd hd"
  "nb nb nb nb nb nb nb"
  "main main main main main main main"
  "ft ft ft ft ft ft ft";
}

/* Contact Me */
.contact {
  grid-area: main;
  padding: 18px 18px;
}

/* Style Contact Me heading */
.contact-h2 {
  font-size: 42px;
  font-weight: 200;
}

/* Style Contact Me text */
.contact-text {
  font-size: 24px;
}

/* Setup Contact Me form */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
}

/* Style Submit button */
input[type=submit] {
  background-color: rgba(25, 51, 77, 0.8);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Change color of submit button upon hover */
input[type=submit]:hover {
  background-color: rgba(25, 51, 77);
}

/* Style updates with a max screen size of 600px */
@media (max-width:600px) {
  .container {
    grid-template-columns: 300px 300px;
  }
}
