@import "./header.css";
@import "./nav.css";
@import "./footer.css";

body {
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* Setup grid layout for page */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 50px 1fr 50px;
  grid-template-areas:
  "hd hd hd hd hd hd hd"
  "nb nb nb nb nb nb nb"
  "main main main main main main main"
  "ft ft ft ft ft ft ft";
}

/* Post */
.post {
  grid-area: main;
  padding: 20px 40px;
}

/* Style Post Images */
.post-img {
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px #cccccc solid;
}

.post-img-caption {
  text-align: center;
  font-style: italic;
  font-size: 18px;
}

/* Style updates with a screen size of less than 850px */
@media (max-width:850px) {
  .container {
    grid-template-columns: 200px;
  }
}

/* Style updates with a screen size of 851px - 1200px */
@media (min-width: 851px) and (max-width: 1200px) {
  .container {
    grid-template-columns: 300px 300px;
  }
}
