@import "./header.css";
@import "./nav.css";
@import "./footer.css";

body{
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 50px 1fr 50px;
  grid-template-areas:
  "hd hd hd hd hd hd hd"
  "nb nb nb nb nb nb nb"
  "main main main main main main main"
  "ft ft ft ft ft ft ft";
}

.box{
}

.post{
  grid-area: main;
  padding: 20px 40px;
}

.post-img{
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.feat{
  grid-area: feat;
}

.about{
  grid-area: abt;
}
