.container{
  display: grid;
  border: 2px solid blue;
  grid-template-columns: 300px 300px;
  grid-template-rows: 400px 50px 500px 500px 75px;
  grid-template-areas:
  "hd hd hd hd hd hd hd hd"
  "nb nb nb nb nb nb nb nb"
  "main main main main main main abt abt"
  "feat feat feat feat feat feat abt abt"
  "ft ft ft ft ft ft ft ft";
}

.box{
  border: 2px solid red;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: hd;
  background-image: url("../images/IMG_1447.jpeg");
  opacity: 0.6;
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px black;
  font-size: 82px;
  color: #F5F5F5;
}

.nav{
  grid-area: nb;
  background-color: #19334d;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-text{
  font-family: 'Oswald', sans-serif;
  color: #F5F5F5;
  font-size: 18px; 
}

.post{
  grid-area: main;

}

.feat{
  grid-area: feat;
}

.about{
  grid-area: abt;
}

.footer{
  grid-area: ft;
}
