@import "./header.css";
@import "./nav.css";
@import "./footer.css";

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* Setup grid layout for page */
.container {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 400px 50px 500px 550px 50px;
  grid-template-areas:
  "hd hd hd hd hd hd hd"
  "nb nb nb nb nb nb nb"
  "main main main main main abt abt"
  "feat feat feat feat feat abt abt"
  "ft ft ft ft ft ft ft";
}

/* Post */
.post {
  grid-area: main;
}

/* Setup flexbox layout for Post Section */
.post-h2 {
  display: flex;
  justify-content: center;
  font-size: 42px;
  font-weight: 200;
}

/* Setup Nested Grid for Cards */
.nestedGrid-Card {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-auto-rows: 380px;
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}

/* Style cards */
.card {
  max-width: 300px;
  display: inline-block;
  position: relative;
}

/* Style Card Image */
.card-img {
  border-radius: 5px;
  height: 340px;
  width: 100%
}

/* Style Card Button */
.cardbtn {
  position: absolute;
  bottom: 5px;
  left: 1px;
  border: transparent;
  padding: 5px;
  background: rgba(25, 51, 77, 0.5);
  text-align: left;
  cursor: pointer;
  width: 299px;
  height: 75px;
}

/* Change opacity of button on hover */
.cardbtn:hover {
  opacity: 0.7;
}

/* Style link on cards/buttons */
.card-link {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

/* Tips & Resources */
.feat {
  grid-area: feat;
}

/* Setup flexbox for Tips & Resources heading */
.feat-h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 42px;
  font-weight: 200;
}

/* Setup flexbox for Tips & Resources text */
.feat-text {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 24px;
  color: black;
}

/* About Me Section */
.about {
  grid-area: abt;
}

/* Setup flexbox for About Me heading */
.about-h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 200;
}

/* Style About Me images */
.about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  height: 300px;
}

/* Style About Me text paragraphs */
.about-text {
  width: 250px;
  font-size: 16px;
  margin: auto;
}

/* Style link in About Me section */
.about-link {
  color: black;
}
